*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background-color: rgb(32, 153, 97);
}

.contenedor{
    border-radius: 10px;
    width: 80%;
    height: 65vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.contenedor h1{
    text-align: center;
}

select{
    margin-top: 5px;
    background: #cc2e2e;
    color: #fff;
    border: none;
    padding: 4px;
    border-radius: 5px;
    margin-left: 10px;
    font-size: 15px;
    width: 260px;
}

label{
    margin-left: 10px;
    font-size: 25px;
    margin-top: 20px;
    display: block;
}

#cifra{
    display: block;
    margin-left: 10px;
    /* margin-left: 10px; */
    height: 30px;
    font-size: 15px;
    width: 260px;
}

#convertir{
    background-color: rgb(5, 179, 77);
    padding: 5px;
    height: 35px;
    margin-top: 15px;
    font-size: 15px;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    width: 200px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    color: white;
}

#convertir:hover{
    cursor: pointer;
    border: 1px solid blue;
    box-shadow: 0px 0px 5px black;
}

#resultado{
    margin-left: 10px;
    margin-top: 30px;
    font-size: 35px;
}